<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
 xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"> 
<head>
    <meta charset="ISO-8859-1">
    <title>Book</title>
   <a th:href="@{/new}" class="btn btn-primary btn-sm mb-3"> Add a new Book </a>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

    <div class="container my-2">
    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
   <title>Spring Security - OAuth 2.0 Login</title>
   <meta charset="utf-8" />
</head>
<body>
<div style="float: right" th:fragment="logout" sec:authorize="isAuthenticated()">
   <div style="float:left">
       <span style="font-weight:bold">User: </span><span sec:authentication="name"></span>
   </div>
   <div style="float:none">&nbsp;</div>
   <div style="float:right">
       <form action="#" th:action="@{/logout}" method="post">
           <input type="submit" value="Logout" />
       </form>
   </div>
</div>
<h1>OAuth 2.0 Login with Spring Security</h1>
<div>
   You are successfully logged in <span style="font-weight:bold" th:text="${userName}"></span>
   via the OAuth 2.0 Client <span style="font-weight:bold" th:text="${clientName}"></span>
</div>
<div>&nbsp;</div>
<div>
   <a href="/userinfo" th:href="@{/userinfo}">Display User Info</a>
</div>
        <h1><i>Book List</i></h1>

       
        <table border="1" class="table table-striped table-responsive-md">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Book Author</th>
                    <th>Actions</th>
                   
                    
                </tr>
            </thead>
            <tbody>
                <tr th:each="book : ${listBooks}">
                    <td th:text="${book.name}"></td>
                    <td th:text="${book.author}"></td>
                    <td>
                    <a th:href="@{/edit/{id}(id=${book.id})}"th:object="${book}" class="btn btn-primary btn-sm mb-3"> Edit Book </a>
                    <a th:href="@{/delete/{id}(id=${book.id})}"th:object="${book}" class="btn btn-primary btn-sm mb-3"> Delete Book </a>
                    </td>
                    </td>
                </tr>
            </tbody>
        </table>
       
    </div>
</body>

</html>